<div class="signup-form">

  <div *ngIf="signForm">
    <form [formGroup]="signForm" (ngSubmit)="onFormSubmit()">
      <div class="form-field">
        <label for="field-name">
          <input
            id="field-name"
            class="form-control"
            type="text"
            name="name"
            placeholder="Type name"
            [formControlName]="nameType">
        </label>
        <div *ngIf="signForm.get(nameType) && !signForm.get(nameType).valid && signForm.get(nameType).touched"
             class="alert alert-danger">
          Name is required.
        </div>
      </div>
      <div class="form-field">
        <label for="field-email">
          <input
            id="field-email"
            class="form-control"
            type="email"
            name="email"
            placeholder="Type email"
            [formControlName]="emailType">
        </label>
        <div *ngIf="signForm.get(emailType) && !signForm.get(emailType).valid && signForm.get(emailType).touched"
             class="alert alert-danger">
          Email is required & should be valid.
        </div>
      </div>
      <div class="form-field">
        <label for="field-password">
          <input
            id="field-password"
            class="form-control"
            type="text"
            style="-webkit-text-security: disc;"
            name="password"
            autocomplete="off"
            placeholder="Type password"
            [formControlName]="passwordType">
        </label>
        <div *ngIf="signForm.get(passwordType) && !signForm.get(passwordType).valid && signForm.get(passwordType).touched"
             class="alert alert-danger">
          Required, at least 6 symbols.
        </div>
      </div>
      <div class="form-field">
        <label for="field-passwordConfirm">
          <input
            id="field-passwordConfirm"
            class="form-control"
            type="text"
            style="-webkit-text-security: disc;"
            name="passwordConfirm"
            autocomplete="off"
            placeholder="Type password"
            [formControlName]="passwordConfirmType">
        </label>
        <div *ngIf="signForm.get(passwordConfirmType) && !signForm.get(passwordConfirmType).valid && signForm.get(passwordConfirmType).touched"
             class="alert alert-danger">
          Confirmation invalid.
        </div>
      </div>

      <div class="form-field">
        <button type="submit" [disabled]="signForm.invalid" class="form-submit">Submit</button>
      </div>
    </form>
  </div>

  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="small"
    color="orange"
    type="pacman"
  ></ngx-spinner>
</div>
