$appBackground: 'appBackground';
$textColor: 'textColor';
$headerBackground: 'headerBackground';
$appDefaultBorderColor: 'appDefaultBorderColor';
$colorSecondary: 'colorSecondary';
$submitBackground: 'submitBackground';
